---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About Kungfu Kitchen">
  <main class="mt-10 bg">
    <nav class="mb-10"><a href="/">Home</a></nav>

    <article class="bg-tan grid-cell">
      <h2>About Kungfu Kitchen</h2>
      <p>My name is Joanna. When I came to the UK in 2003 to study, etcccc</p>
    </article>
  </main>
</Layout>
