---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Location from "../components/location.astro";
import Testimonial from "../components/testimonial.astro";
import Footer from "../components/footer.astro";
import Button from "../components/atoms/button.astro";
---

<Layout title="Kungfu Kitchen">
  <Header />

  <!-- Locations -->
  <section class="grid md:grid-cols-2 gap-4 mb-8">
    <Location
      description=`Reading's best-reviewed Chinese restaurant, plus full bar. Enjoy traditional specialities and authentic dishes from across China.`
      whatsapp="yes"
      instagram="yes"
      tel="yes"
      wechat="yes"
      title="Kungfu Kitchen"
      hours="Mon-Sun 11.30 am-10 pm"
      address="62 Christchurch Road, Reading, RG2 7AZ"
      addressLink="https://maps.app.goo.gl/Neh8wVvKxAtpxJXY6"
    >
      <Button cta="Menu" link="/menu.pdf" />
      <Button cta="Vegan menu" link="/vegan.pdf" />
      <Button cta="Bubble tea" link="/bubble_tea.pdf" />
    </Location>
  </section>

  <!-- Testimonials-->
  <section class="grid md:grid-cols-2 gap-4 mb-8">
    <Testimonial
      quote="It looks like I may have a new favourite restaurant."
      author="@EdibleReading"
      source="https://ediblereading.com/2019/06/14/kungfu-kitchen/"
    />
    <Testimonial
      quote=`But look closer, and you’ll find this is no run-of-the-mill regional takeaway. Not so much lemon chicken as stir-fried lamb’s tripe with coriander and Dongpo-style pig shoulder.`
      author="Tom Parker Bowles"
      source="https://www.dailymail.co.uk/home/you/article-9762501/Tom-Parker-Bowles-Olly-Smith-Eating-out.html"
    />
  </section>

  <!-- Footer -->
  <Footer />
</Layout>
