<footer class="font-serif border-t-2 py-4 border-tan">
  <p>© Kungfu Kitchen, 2024</p>
  <p>
    <b>Phone/text</b>: <a href="tel:07587 577966">07587 577966</a>
  </p>
  <p>
    <b>Email</b>:{" "}
    <a href="mailto:info@kungfureading.co.uk">info@kungfureading.co.uk</a> / WeChat</p>
  <p>
    <b>Restaurant</b>: 62 Christchurch Road, Reading, RG2 7AZ
  </p>
  <p>
    <b>Cafe</b>: 80 Christchurch Road, Reading, RG2 7AZ
  </p>
  <p>
    Website built by <a href="https://joevaughan.net/">Joe Vaughan</a>
  </p>
</footer>
