---
import logo from "../../src/assets/kfk.webp";
import Image from "astro/components/Image.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<header class="flex gap-x-4 lg:flex-row flex-col mb-8">
  <Image
    src={logo}
    alt="Kungfu Kitchen"
    class="md:w-1/2 lg:self-start self-center"
    loading="eager"
  />

  <h1 hidden>Kungfu Kitchen</h1>
  <section
    class="bg-tan p-6 flex flex-col justify-end h-fit w-full lg:self-end self-center rounded"
  >
    <h2 class="mb-4">{title}</h2>
    <p class="font-serif mb-2">
      {description}
    </p>
  </section>
</header>
